{
  "presets": [["@babel/preset-env", { "useBuiltIns": false, "debug": false }]],
  "plugins": [["inline-json"]],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          { "useBuiltIns": "usage", "corejs": "3", "debug": false }
        ]
      ]
    }
  }
}
